.header{
    background-color: grey;
}
.header img {
    height: 5rem;
    cursor: pointer;
}

.header h1 {
    margin: 0;
}

.header > div {
    display: grid;    
    grid-template-columns: auto auto 1fr auto;
    align-items: end;
    gap: 1rem;
}
